* {
    box-sizing: border-box;
}

body {
    background-color: $background-color;
    font-family: $font1;
    color: $primary-color;
    @include font-size(15px);
}

h1 {
    font-weight: 600;
    font-family: $font2;
    color: $titles-color;
    @include font-size(36px);
}
/*
h2 {
    font-family: $font2;
    color: $titles-color;
    @include font-size(43px);
}

h3 {
    font-family: $font2;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.38px;
    color: $titles-color;
    @include font-size(19px);
}

h4 {
    font-family: $font2;
    text-align: center;
    letter-spacing: 0.34px;
    color: $titles-color;
    @include font-size(17px);
}
*/
a {
    color: $primary-color;
    text-decoration: none;
}