$background-color:  #FFFFFF;
$gray-color: #555555;
$black-color: #222222;
$bluedeg-color: transparent linear-gradient(248deg, #1B92C8 0%, #2C3636 100%) 0% 0% no-repeat padding-box;
$bluetxt-color: #185F7F;
$blueborder: #185F7F;
