//Variables

$font1: 'Poppins', sans-serif;
$font2: 'Montserrat', sans-serif;
$background-color:  #FFFFFF;
$primary-color: #555555;
$secondary-color: #185F7F;
$titles-color: #222222;
$btn-color: transparent linear-gradient(248deg, #1B92C8 0%, #2C3636 100%) 0% 0% no-repeat padding-box;
$ftertitles-color: #101C21;
$ftertxt-color: #777777;