.partners-clients {
    text-transform: capitalize;
    margin-top: 157px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include media(tablet) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row: auto auto auto;
        justify-items: center;
    }
    

    @include media(desktop-m) {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows:  auto auto auto;
    }

    @include media(desktop-l) {
        padding: 0 341px;
    }
    
    h2 {
        font-weight: 600;
        text-align: center;
        padding-bottom: 40px;

        @include media(tablet) {
            grid-row: 1/2;
            grid-column: 1/3;
        }

        @include media(desktop-s) {
            grid-row: 1/2;
            grid-column: 1/4;
        }
        &:hover {
            background-color: white;
        }
    }

   &__card {
        box-shadow: 0px 10px 30px #99999933;
        border-radius: 8px;
        width: 386px;
        height: 338px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
   }
   
   :hover {
       background-color: $secondary-color;
    }
    
   span {
       margin-top: 27px;
       font-family: 'Poppins', sans-serif;
       font-size: 19px;
       color: $secondary-color;
       &:hover {
           color: $background-color;
       }
    }
}