.row {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    margin: 0 auto;

    @include media(desktop-s) {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    &--reverse {
        @include media(desktop-s) {
            flex-direction: row-reverse;
        }
    }

    &__large-6 {
        
        @include media(desktop-s) {
            flex: 50%;
            max-width: 50%;
        }

        &--bg-image {
            background: url("/app/assets/images/Group\ 2258.png");
        }

        &--left-padding {
            @include media(desktop-s) {
                padding-left: 90px;
            }
        }
    }
}