footer {
    display: grid;
    padding-top: 121px;
    
}

.site-footer__logo {
    margin: 0 auto 45px auto;
    img {
        width: 350px;
        @include media(desktop-s) {
            width: 484px;
        }
    }

    @include media(desktop-s) {
        margin-bottom: 95px;
    }
}

.site-footer {

    text-align: center;
    background: url('/app/assets/images/Group\ 2793.png') bottom no-repeat;

    @include media(desktop-s) {
        text-align: left;
        display: flex;
        flex-wrap: wrap;
        padding: 20px 30px;
        justify-content: space-around;
        height: 564px;
        background-size: 100% 50%;
    }


    &__main-item {
        padding: 20px;
    }

    .ft-title {
        font-size: 18px;
        font-family: 'Poppins', sans-serif;
        color: #101C21;
        font-weight: 600;
        margin-bottom: 28px;
    }

    li a {
        font-size: 15px;
        color: #777777;
        line-height: 38px;

        &:hover {
            color: $secondary-color;
        }
    }

    p {
         color: #777777;;
         line-height: 1.7;
         margin-bottom: 25px;
    }

    .contact-img {
        margin-right: 10px;
    }

    .social-layout {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
        justify-content: space-evenly;

        @include media(desktop-s) {
            justify-content: space-between;
        }
    }
}