.work-process {
    margin: 0 auto;
    text-align: center;

    @include media(desktop-m) {
        padding: 0 246px 70px 286px;
        text-align: left;
    }
    
    img {
        width: 350px;

        @include media(desktop-s) {
            width: 634px;
            height: 546px;
        }
    }

    h2 {
        text-transform: capitalize;
        margin-bottom: 20px;
        margin-top: 20px;

        @include media(desktop-s) {
            margin-bottom: 41px;
            padding-top: 125px;
        }
    }

    p {
        padding: 0 10px;
        font-family: 'Poppins', sans-serif;
        @include font-size(14px);
        color: #555555;

        @include media(desktop-s) {
            @include font-size(15px)
        }
    }

    .bold-text {
        font-weight: 600;
    }
   
    &__btn-container {
        display: inline-block;
        border: 1px solid #185F7F;
        border-radius: 4px;
        margin-top: 20px;

        @include media(desktop-s) {
            margin-top: 60px;
        }

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 182px;
            height: 62px;
            font-weight: 500;
            @include font-size(19px);
        }
    }

}